.app_blue_theme {
    --bg-color: #f4f8fb;
    --inverted-bg-color: #32a0e0;
    --primary-color: #205b7d;
    --secondary-color: #0f93e0;
    --inverted-primary-color: #f4f8fb;
    --inverted-secondary-color: #fcfdfd;
}
